body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

.cta {
  color: aquamarine;
  font-size: 16px;
}

h1 {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px
  color: white;

}

h2 {
  font-size: 21px;
  color: grey;
  font-weight: normal;

}

.footer {
      text-align: right;
}
