body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}
.cta {
  color: aquamarine;
}
h1 {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px
  color: white;
  position: centered
}

h2 {

}

.footer {

}
